-if object.errors.any?
  .alerts
    .alert{:class => "alert-box round alert"}
      %p= "Please correct the following #{pluralize(object.errors.count, 'error')}:"
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
