-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5

%nav.top-nav{"data-topbar" => true}
  .title-area
    %ul
      %li.home-link
        = link_to 'Video Vault', root_path
  .nav-links
    %ul
      = render 'layouts/navigation_links'
